@model ProjectManager.Entities.Task

@{
    ViewBag.Title = "Add Task";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add new task</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                <label>Priority</label>
                @Html.DropDownListFor(model => model.Priority.ID, new SelectList(ViewBag.Priorities, "ID", "Name", 1), new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Deadline</label>
                @Html.TextBoxFor(model => model.Deadline, new { @class = "form-control", type = "date" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 6 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        }
    </div>

</div>